@import 'Pattern.css';

.button{
  color: var(--cor2);
  background-color: var(--cor1);
  display: block;
  border-radius: 20px;
  text-decoration: none;
  font-family: var(--adventfont);
  font-weight: 700;
  font-size: 1.5em;
  margin: 25px auto;
  border: none;
  cursor: pointer;
  text-align: center;
}
.button:hover{
  background-color: var(--cor1mc);
}
.button:active{
  background-color: var(--cor1mmc);
}

@media only screen and (max-width: 767px){
  .button{
    width: 100%;
    padding: 18px 0;
    border-radius: 0px;
    box-shadow: 0px 3px 0px var(--cor1mme);
  }
  .button:active{
    box-shadow: none;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px){
  .button{
    width: 250px;
    padding: 16px 0;
  }
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
  .button{
    width: 300px;
    padding: 14px 0;
  }
}


@media only screen and (min-width: 1200px){
  .button{
    width: 300px;
    padding: 12px 0;
  }
}