@import 'Pattern.css';

main > article h2,
main > article > h1,
main > h1{
  font-family: var(--muktafont);
}

main > article > h1,
main > h1{
  color: var(--cor2);
  background-color: var(--cor1);
  width: fit-content;
  border-radius: 0px 20px 20px 0px;
  padding: 0 10%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  margin: 0;
  margin-bottom: 30px;
}
main > article h2{
  margin: 0 0 15px 0;
}

@media only screen and (max-width: 767px){
  main > article > h1,
  main > h1{
    width: 100%;
    padding: 0;
    border-radius: 0px;
    padding-left: 0px;
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 2.6em;
  }
  main > article h2{
    text-align: center;
    font-size: 2em;    
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  main > article > h1,
  main > h1{
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
  main > article > h1,
  main > h1{
    font-size: 2.2em;
  }
  main > article h2{
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 1200px){
  main > article > h1,
  main > h1{
    font-size: 2.5em;
  }
  main > article h2{
    font-size: 2em;
  }
}
