<header id='navbar'>
  
  <aside id="logo">
    <a href="{{home-url}}"><img src="/Resources/_img/if_logo.png"></a>
  </aside>
  
  <nav id="navegator">
    
    <input type="checkbox" id='nav-menu-dropdown-checkbox'>
    <label for="nav-menu-dropdown-checkbox" id='nav-menu-dropdown'>
      <img src="/Resources/_img/menu.svg" class="svgcor2">
    </label>

    <div id='nav-dropdown-content'>
      
      <ul>
        
        {{tabs}}
        
      </ul>
      
      <aside id='icon' class="nav-dropdown-content">
        {{icon}}
      </aside>
      
    </div>
    
  </nav>
</header>