<form name="Cadastro" action="/Apps/CadastrarUsuario.php" method="POST" accept-charset="UTF-8">
    <label>Nome:</label><input type="text" name="nome" maxlength="100" required><br>
    <label>Email:</label><input type="text" name="email" maxlength="100" required><br>
    <label>Senha:</label><input type="password" name="senha" maxlength="30" required><br>
    <label>Telefone:</label><input type="text" name="telefone" maxlength="15" required><br>
    <input type="submit" value="Enviar" name="enviar">
</form>
{{nome}}{{nascimento}}