<main>
  <article>
    
    <h1>Tabela de conteúdos</h1>
    
    <section class="col2" id="indice">
      <section>
        <h2>Links Principais</h2>
        <ul>
          <li><a href="#inicio" 
class="tabe">Agroindústria Campus Pinheiral</a></li>
          <li><a href="#secao2">Laboratórios</a></li>
          <li><a href="#secao3">Atividades</a></li>
          <li><a href="#contacts">Contatos e Informações</a></li>
        </ul>
      </section>
      <section>
        <h2>Links Relacionados</h2>
        <ul>
          <li><a href="{{calendario-url}}">Calendário</a></li>
          <li><a href="{{teacher-adms-url}}">Professores</a></li>
          <li><a href="#fim">Algum problema?</a></li>
        </ul>
      </section>
    </section>
  </article>
  
  <article>
    <h1 id="inicio">Agroindústria Campus Pinheiral</h1>
    <section class="col2">
      <section>
        <p class="texto">
             O setor de Agroindústria do IFRJ Campus Pinheiral está localizado próximo à sede administrativa e ao posto de vendas e disponibiliza ambientes equipados para o processamento de alimentos aos alunos dos cursos técnicos de agroindústria e de agropecuária, contribuindo com a formação de profissionais capazes de transformar e agregar valor à matéria-prima.  
        </p>
      </section>
      <section>
        <img src="/Resources/_img/entrada.jpg">
      </section>
    </section>
    <a href='{{calendario-url}}' class="button">CALENDÁRIO</a> <!-- para o botão funcionar com um link para uma página deve-se colocar window location.href -->
  </article>
  
  <footer id="any-problem">
    <h2>Algum problema?</h2>
    <a href='#contacts'>Contate o Campus</a>
  </footer>

<!-- início descrição dos laboratórios-->
  <article>
    <h1 id="secao2">Laboratórios</h1>
    <section class="col2">
      <section>
       <p class="texto">
              Os laboratórios de agroindústria se dividem em 5 ambientes: Planta de processamento de <strong>carnes e derivados</strong>, Planta de processamento de <strong>leite e derivados</strong>, Planta de <strong>vegetais</strong>, <strong>Panificação</strong> e <strong>Estoque</strong> de materiais. A seguir, pode-se observá-los.
        </p>
      </section>
    </section>
  </article>

<!-- imagens laboratórios -->
  <article>
    <section class="col2">
      <section>
        <img src="/Resources/_img/laboratorio1.jpg" class="fotos">
      </section>
     <section>
         <img src="/Resources/_img/sala2.jpg" class="fotos">
      </section>
      <section>
         <img src="/Resources/_img/lab6.jpg" class="fotos">
      </section>
      <section>
         <img src="/Resources/_img/lab7.jpg" class="fotos">
      </section>
    </section>
  </article>
  <!-- fim imagens laboratórios -->
  
  <!-- segunda descrição dos laboratorios -->
  <article>
    <section class="col2">
      <section>
       <p class="texto">
    As plantas de produção, além de atender as aulas práticas, têm o objetivo de abastecer o restaurante para a alimentação dos alunos do campus e ao Posto de vendas para a comercialização local dos produtos produzidos no setor. Também são ofertados pela agroindústria estágios supervisionados para os alunos dos cursos técnicos e da graduação, além de disponibilizar os espaços para atividades de Ensino, Pesquisa e Extensão. 
        </p>
      </section>
    </section>
    <a href="{{teacher-adms-url}}" class="button">PROFESSORES</a>
  </article>
 <!-- fim descrição laboratórios -->


 <!-- inicio descrição atividades -->
  <article>
    <h1 id="secao3">Atividades</h1>
    <section class="col2">
        <section>
          <p class="texto">
        Dentro desse setor do campus, são realizadas, diariamente, diversas atividades. Dentre elas, destacam-se:
          </p>
          <p class="texto">
            <strong>1)</strong> PRODUÇÃO DE ALIMENTOS, TAIS COMO QUEIJOS, IOGURTES E PÃES;</p>
          <p class="texto"><strong>2)</strong> AÇÕES ADMINISTRATIVAS;</p>
          <p class="texto"><strong>3)</strong> ESTÁGIO SUPERVISIONADO;</p>
      </section>
        <section>
          <img src="/Resources/_img/sala1.jpg">
        </section> 
    </section>
  </article>
<!-- fim descrição atividades -->
  
  <article id='contacts'>
        
    <p>Laboratório de Agroindústria - IFRJ Campus Pinheiral</p>
    <ul>
      <li><strong>CNPJ:</strong> 10.952.708/0002-87</li>
      <li><strong>Localização:</strong> Rua José Breves, n°550, Centro, Pinheiral-RJ CEP: 27197-000</li>
      <li><strong>Telefone:</strong> (24) 33568202 Ramal: 8235</li>
      <li><strong>E-mail:</strong> datep.cpin@ifrj.edu.br</li>
      <li><strong>Responsável técnico pela Agroindústria:</strong> Gisele Santos de Meireles (médica veterinária)</li>
      <li><strong>Horário de funcionamento:</strong> 2° a 6° das 07:00 às 17:00 horas</li>
    </ul>
  </article>

</main>