<main>
  <form action="/login" method="POST" autocomplete="on">
      <fieldset id="box-form">
          <h1>Login</h1>
          <div class="Campo">
            <label for="email">E-mail: </label>
            <input class="campo" type="email" id="email" name="email">
          </div>
          <div class="Campo">
            <label for="senha">Senha: </label>
            <input class="campo" type="password" id="senha" name="senha">
          </div>
            {{error-message}}
          <input class="button-submit" type="submit" value="ENTRAR">

          <h2>Não está registrado?<a href="/#contacts" target="_blank">Fale com a administração</a></h2>
      </fieldset>
  </form>
</main>