<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Resources/_style/style.css">
    <title>Docentes e Admins</title>
  </head>
  <body>
    {{navbar}}
      <div id="a">
          <h1>Professores</h1>
          <ul>
              <?php
                require_once("CaixaProf.php");
                $obj = new CaixaProf();
                $obj -> criaCaixaProf();*/
              ?>
          </ul>
      </div>
      {{footer}}
    </body>
</html>