<main>
  
  <article class='display-teachers-adms'>
    
    <h1>Professores</h1>
    
    <ul>
      {{professores}}
    </ul>
    
  </article>
  
  <article class='display-teachers-adms'>

  <h1>Administradores</h1>
    
    <ul>
      {{administradores}}
    </ul>
    
  </article>

  <article id='contacts'>
        
    <p>Laboratório de Agroindústria - IFRJ Campus Pinheiral</p>
    <ul>
      <li><strong>CNPJ:</strong> 10.952.708/0002-87</li>
      <li><strong>Localização:</strong> Rua José Breves, n°550, Centro, Pinheiral-RJ CEP: 27197-000</li>
      <li><strong>Telefone:</strong> (24) 33568202 Ramal: 8235</li>
      <li><strong>E-mail:</strong> datep.cpin@ifrj.edu.br</li>
      <li><strong>Responsável técnico pela Agroindústria:</strong> Gisele Santos de Meireles (médica veterinária)</li>
      <li><strong>Horário de funcionamento:</strong> 2° a 6° das 07:00 às 17:00 horas</li>
    </ul>
  </article>
  
</main>
