<!-- Página das tabelas com o est -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Resources/_style/ViewItens.css">
    <title>Estoque</title>
  </head>
  <body>
    {{navbar}}
    <main>
      <h1>Observar Estoque</h1>
      <table>
        <tr>
          <th>
            Professor 1
          </th>
        </tr>
        <tr>
          <th>
            <strong>Item</strong>
            <strong>Item</strong>
          </th>
        </tr>
      </table>
    </main>
    {{footer}}
  </body>
</html>